// Variables
$primaryColor: #182C61;
$secondaryColor: #3a5395;
$white: #ffffff;
$email_bg: #FFEDBC;
$black: #000000;
$hire_bg: #f5f5f5;
$border: #ED4264;
$bold: 700;
$html_wd: 70%;
$html_bg: #4CAF50;
$css_wd: 55%;
$css_bg: #2196F3;
$js_wd: 45%;
$js_bg: #f44336;
$php_wd: 30%;
$php_bg: #fff500;
